.App {
  text-align: center;
}

.App-logo {
  padding: 70px;
  height: 200px;
  width: 500px;
  pointer-events: none;
}


.pokemon-details .buttondelete,
.pokemon-details .buttonpokedex{
  margin: 30px;
  padding: 10px;
  height: 80px;
  width: 175px;
  font-size: 20px;
  border-radius: 20px;
  background: #fff;
}

.renderPokemons .buttonshow{
margin: 45px;
padding: 10px;
height: 60px;
width: 175px;
font-size: 20px;
border-radius: 20px;
background: #fff;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
